.container, iframe.show{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  gap: 5px;
}
iframe{
  display: none;
}
